
.person_container {
    margin: 2rem auto;
    padding: 0.5rem 0;
    max-width: 1200px;
    padding: 1rem;
}

.row.align-items-center.border.p-3.rounded.shadow-sm {
    position: relative;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    border-radius: 16px !important;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 1;
    margin: 1rem;
}


.row.align-items-center.border.p-3.rounded.shadow-sm:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12) !important;
}


.img_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.img_container img:hover {
    transform: scale(1.2) translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.data_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data_person_container p {
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-bottom: 0.1rem;
    margin-right: 25px;
}

.data_person_container p:hover {
    opacity: 1;
    transform: translateX(2px);
}

.data_person_container p:first-child {
    font-weight: 600;
    font-size: 1.1rem;
    color: #010101;
}

.data_person_container p:nth-child(2) {
    font-size: 0.9rem;
    color: #44484d;
    margin-bottom: 0;
}


.social_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 84px;
}

.social_container img {
    width: 32px;
    height: 32px;
    margin: 4px 0;
    opacity: 0.75;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social_container img:hover {
    transform: rotate(4deg) scale(1.15);
    opacity: 1;
}

.biography_container {
    margin-top: 0.75rem;
}

.biography_container p {
    font-size: 0.9rem;
    color: #706f6f;
    line-height: 1.65;
    transition: color 0.3s ease;
    text-align: justify;
    text-justify: inter-word;

}

.biography_container:hover p {
    color: #040404;
}
