

.form-message:hover {
    border: 1px solid rgb(245, 19, 19) !important; 
    transform: scale(1.1);  
    transition: 0.3s;
}

@media (max-width:578px) {
 .btn-enviar-mensaje {
    width: 17rem;
}   
}