/*
==============================
|           Navbar           |
==============================
*/

/* barra anuncio oferta */




/* Navbar */



/*
==============================
|           Footer           |
==============================
*/




/*
==============================
|  index (página de inicio)  |
==============================
*/



/*
==============================
|    singUp (Crear cuenta)   |
==============================
*/






/*
==============================
|   logIn (Iniciar sesión)   |
==============================
*/




/*
==============================
|       cart (Carrito)       |
==============================
*/


/*
=================================
|  checkOut (pasarela de pago)  |
=================================
*/



/*
==================================
|  aboutMe (Acerca de nosotros)  |
==================================
*/


/*  NUESTRA HISTORIA */

/*  NUESTRO NÚMEROS */

/*  EQUIPO DE TRABAJO */

/* NUESTROS SELLOS */


/*
==================================
|  contact (Página de contacto)  |
==================================
*/



/*
===================================
|  producto (Página de producto)  |
===================================
*/