/*
==============================
|           Navbar           |
==============================
*/

/* barra anuncio oferta */




/* Navbar */



/*
==============================
|           Footer           |
==============================
*/




/*
==============================
|  index (página de inicio)  |
==============================
*/



/*
==============================
|    singUp (Crear cuenta)   |
==============================
*/






/*
==============================
|   logIn (Iniciar sesión)   |
==============================
*/




/*
==============================
|       cart (Carrito)       |
==============================
*/


/*
=================================
|  checkOut (pasarela de pago)  |
=================================
*/



/*
==================================
|  aboutMe (Acerca de nosotros)  |
==================================
*/

/* Estilo Mision, vision y valores */
div {
    font-family: 'Poppins', sans-serif;
}

div h4 {
    color: #DB4444;
    font-weight: 700;
}

div h6 {
    font-weight: 700;
}

div p {
    font-weight: 400;
}

/*  NUESTRA HISTORIA */

/*  NUESTRO NÚMEROS */

/*  EQUIPO DE TRABAJO */

/* NUESTROS SELLOS */


/*
==================================
|  contact (Página de contacto)  |
==================================
*/



/*
===================================
|  producto (Página de producto)  |
===================================
*/